.spinBox {

     animation: rotation 2s infinite linear;
}

@keyframes rotation {
     0% {
          transform: rotate(0deg);
          padding: 10px;
          width: 100px;
          height: 100px;
     }

     30% {
          transform: rotate(359deg);
          padding: 5px;
          width: 80px;
          height: 80px;
     }

     66% {
          transform: rotate(180deg);
          padding: 10px;
          width: 90px;
          height: 90px;

     }

     100% {
          transform: rotate(0deg);
          padding: 5px;
          width: 100px;
          height: 100px;
     }
}