@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Roboto', sans-serif;

}

.primaryBg {
   background-color: #e600e6c0;
}

.primaryColor {
   color: #e50ae9;

}

.shadowbox {
   box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.bottonBox {
   background: black;
   color: white;
   padding: 7px 15px;
   border-radius: 8px;

}

.bottonBox:hover {
   background-color: #e50ae9;
   color: white;
}


.lingHight {
   line-height: 20px;
   letter-spacing: 5px;
}



.modalShadow {
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}